.home-page {
    margin: 0 auto;
    width: 320px;
}

.home-page .login-button {
    background-color: #f96d00;

}

.home-page .register-button {
    background-color: #393e46;
}

.home-page .login-user__form {
    text-align: center;
}

.home-page .login-user__text {
    font-size: 25px;
    font-weight: bold;
    color: #f96d00;
    text-align: center;
    margin-bottom: 30px;
}

.home-page .register-user {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.home-page .register-user span {
    width: 100%;
    color: #393e46;
}

.home-page .register-user a {
    display: inherit;
}