button {
    width: 250px;
    height: 50px;
    color: #f2f2f2;
    text-align: center;
    display: block;
    margin: 0 auto 15px;
    background-color: #f96d00;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03);
}