html, body, div {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  overflow: hidden;
}

body {
  overflow-x: auto;
  overflow-y: hidden;
}

section {
  width: 980px;
  margin: 0 auto;
}

#site-container {
  display: block;
  top: 0;
  width: 1848px;
  background-size: auto auto;
  background-color: #f2f2f2;
  z-index: -1;
  margin-top: 20px;
}

.app {
  width: 980px;
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  height: 100%;
}

.hidden,
.loader-hidden {
  display: none;
}

.visible,
.loader-active {
  display: block;
}
