@import "global.css";
@import "../components/Header/header.css";
@import "../components/Forms/register.css";
@import "../components/Buttons/buttons.css";
@import "../components/Inputs/inputs.css";
@import "../components/Profile/mainPage.css";