#header {
    height: 130px;
    width: 100%;
}

#header .container {
    display: flex;
}

.page-logo {
    margin: 0 auto;
}

.left-menu {
    width: calc(100% / 3);
    float: left;
}

.right-menu {
    width: calc(100% * 2/3);
    float: right;

    div {
        width: calc(100% / 3);
    }
}