.add-user__form {
    width: 300px;
    margin: 20px auto;
}

.add-user__form button {
    background-color: #f96d00;
    margin-top: 20px;
}

.add-user__form button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.add-user__form .phone-input,
.add-user__form .password-input,
.add-user__form .email-input {
    width: 285px;
    height: 25px;
}